body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
}

#sidebar {
    width: 250px;
    height: 800px;
    background-color: #2c3e50;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: width 0.3s;
}

#content {
    flex: 1;
    padding: 20px;
    transition: margin-left 0.3s;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #34495e;
    color: #ecf0f1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
    margin-top: 20px;
}

nav a {
    color: #ecf0f1;
    text-decoration: none;
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #3498db;
}

.toggle-btn {
    font-size: 24px;
    cursor: pointer;
    color: #f1f0ec;
}

#user-info {
    display: flex;
    align-items: center;
}

#user-info span {
    margin-right: 10px;
}

#logout-btn {
    background-color: #e74c3c;
    color: #fff;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
    color: #7db12a;
}

/* Add this to your existing 'adm.css' or create a new CSS file */

.edit-button,
.delete-button {
    display: inline-block;
    padding: 8px 12px;
    margin-right: 8px;
    text-decoration: none;
    color: #af3333;
    background-color: #007bff;
    border: 1px solid #007bff;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.edit-button:hover,
.delete-button:hover {
    background-color: #0056b3;
}
